<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap" rel="stylesheet">
	
    <title>Create New Environment</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body onload="fetchOperatingSystems()">
	<div class="container environment-create">
		<div class="sidebar">
			<div class="my-details">
				<div class="team-logo">
					<img height="40" width="40" src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Sunglasses&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=ShirtCrewNeck&clotheColor=Gray01&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light' />
				</div>
				<div class="team-details">
					<div class="team-name">
						Nvie
					</div>
					<div class="email">admin@nvie.us</div>
				</div>
			</div>

			<div class="sidebar-items">
				<div class="sidebar-item">New Environment</div>
				<div class="sidebar-item">All Environments</div>
				<div class="sidebar-item">Provisions</div>
				<div class="sidebar-item">My Team</div>
				<div class="sidebar-item">Settings</div>
			</div>
		</div>
		
		<div class="content">
			<div class="content-area">
                <div class="heading">
                    <h2>Create new environment</h2>
                    <span class="description">
                        Instantly create and share environments with your team in two easy steps
                    </span>
                </div>
                <section>
                    <h2 class="step-heading">1. Environment details</h2>

                    <div class="sub-section">
                        <label>Environment Name</label>
                        <input class="input-field" id="environment_name" placeholder="Environment name" />
                    </div>

                    <div class="sub-section">
                        <label>Environment Description</label>
                        <input class="input-field" id="environment_description" placeholder="Environment description" />
                    </div>

                    <div class="sub-section">
                        <label>What port do you want us to run it on?</label>
                        <input class="input-field" type="number" id="docker_port" placeholder="Port" />
                    </div>

                    <div class="sub-section">
                        <label>Enter your GitHub/BitBucket/Gitlab URL</label>
                        <input class="input-field" id="repository_url" placeholder="Repository URL" />
                    </div>
                </section>

                <section>
                    <h2 class="step-heading">2. Generate your environment</h2>

                    <div class="sub-section">
                        <label>Choose an operating system</label>
                        <div class="operating-systems entities">

                        </div>
                    </div>
                    <div class="sub-section">
                        <label>Choose other dependencies</label>
                        <div class="dependencies entities">
                            
                        </div>
                    </div>
                </section>
                <section>
                    <h2 class="step-heading">3. Maybe notify someone?</h2>

                    <div class="sub-section">
                        <label>Enter emails</label>
                        <input class="input-field notify-emails" placeholder="Emails separated by commas" />
                    </div>
                </section>
                <section>
                    <button class="btn-primary submit">Let's Go!</button>
                </section>
			</div>
		</div>
	</div>
</body>
<script src="https://kit.fontawesome.com/e2535a847b.js"></script>
<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/javascripts/admin.js"></script>
</html>