<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap" rel="stylesheet">
	
	<title>View Environment</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <link rel="stylesheet" href="/stylesheets/team.css">
</head>
<body onload="loadTeam()">
	<div class="container team-view">
		<div class="sidebar">
			<div class="my-details">
				<div class="team-logo">
					<img height="40" width="40" src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Sunglasses&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=ShirtCrewNeck&clotheColor=Gray01&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light' />
				</div>
				<div class="team-details">
					<div class="team-name">
						Nvie
					</div>
					<div class="email">member@nvie.us</div>
				</div>
			</div>

			<div class="sidebar-items">
          <div class="sidebar-item"><a href="/member/">All Environments</a></div>
					<div class="sidebar-item">Provisions</div>
					<div class="sidebar-item"><a href="/team">My Team</a></div>
					<div class="sidebar-item">Settings</div>
			</div>
		</div>
		
		<div class="content">
			<div class="content-area">
        <h2>My Team</h2>
        
        <section class="team">

        </section>
			</div>
		</div>
	</div>
</body>
<script src="https://kit.fontawesome.com/e2535a847b.js"></script>
<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/javascripts/team.js"></script>
</html>