footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    flex-grow: 1;
}

.container {
    flex-direction: row;
    background: #FFFFFF;
}

.content-area {
    padding: 48px;
}

.environment-create section {
    display: flex;
    flex-direction: column;
}

.environment-create .sub-section {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.environment-create .content-area {
    display: flex;
    flex-direction: column;
}

.environment-create .content-area .heading {
    margin-bottom: 48px;
}

.environment-create .content-area .heading .description {
    color: #7e7e7e;
    font-size: 14px;
}

.environment-create .content-area .input-field {
    height: 40px;
    width: 400px;
    margin-bottom: 36px;
}

.environment-create .step-heading {
    font-size: 18px;
    margin-bottom: 24px;
}


.my-details {
    display: flex;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
}

.my-details img {
    margin-right: 16px;
}

.sidebar-items {
    margin-top: 24px;
    color: #FFFFFF;
}

.sidebar-item {
    display: flex;
    padding-left: 24px;
    align-items: center;
    height: 70px;
    cursor: pointer;
}

.sidebar-item:hover {
    background: #000000;
}

.nav-actions {
    display: flex;
    flex: 1;
    align-items: center;
    border: solid 1px #ddd;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,.03);
    padding: 0 10px 0 10px;
}

.nav-actions .input-field {
    flex: 1;
    height: 70px;
    border: none;
    padding-left: 12px;
    margin-bottom: unset;
}

.environments {
    display: flex;
    flex-wrap: wrap;
}

.environment {
    position: relative;
    display: flex;
    height: auto;
    width: 300px;
    overflow: hidden;
    flex-direction: column;
    margin-bottom: 48px;
    border: 1px solid #dfdfdf;
    box-shadow: 4px 4px 4px #dfdfdf;
    font-size: 14px;
    cursor: pointer;
    margin-right: 32px;
    margin-bottom: 32px;
}

.environment:hover .environment-image img {
    opacity: 0.5;
}

.environment:hover .environment-actions, .environment:hover .quick-actions {
    display: flex;
}

.environment:hover .quick-actions {
    display: flex;
}

.environment-image img {
    width: 100%;
}

.environment-name {
    padding: 4px;
}

.environment-meta {
    padding: 4px;
    display: flex;
    justify-content: space-between;
}

.environment-actions, .quick-actions {
    display: none;
}

.environment-actions i {
    color: #7e7e7e;
    margin-right: 8px;
}

.environment-created-by {
    color: #7e7e7e;
}

.entities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.entity {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 190px;
    border: solid 1px #dfdfdf;
    margin-right: 16px;
}

.entity.selected {
    border: solid 1px #0069ff;
}

.entity.selected select {
    border-top: solid 1px #0069ff;
}

.entity img {
    min-height: 60%;
    max-height: 60%;
    padding: 20px;
}

.entity .versions {
    display: flex;
    height: 40%;
}

.entity select {
    flex: 1;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: solid 1px #dfdfdf;
    text-align: center;
}

.quick-actions {
    position: absolute;
    height: 150px;
    display: none;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.quick-actions button {
    margin-right: 8px;
}