<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto&display=swap" rel="stylesheet">
	
	<title>Nvie | Affordable, performant developer infrastructure</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/admin.css">
</head>
<body onload="fetchEnvironments()">
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="modal-header">
				<i class="fas fa-times"></i>
				<h2>Provisioning...</h2>
			</div>
			<div class="modal-body">
				
			</div>
		</div>
	</div>
	<div class="container environment-listing">
		<div class="sidebar">
			<div class="my-details">
				<div class="team-logo">
					<img height="40" width="40" src='https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Sunglasses&facialHairType=BeardMedium&facialHairColor=BrownDark&clotheType=ShirtCrewNeck&clotheColor=Gray01&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light' />
				</div>
				<div class="team-details">
					<div class="team-name">
						Akshaye
					</div>
					<div class="email">akshaye@nvie.us</div>
				</div>
			</div>

			<div class="sidebar-items">
					<div class="sidebar-item"><a href="/member/">All Environments</a></div>
					<div class="sidebar-item">Provisions</div>
					<div class="sidebar-item"><a href="/team">My Team</a></div>
					<div class="sidebar-item">Settings</div>
			</div>
		</div>
		
		<div class="content">
			<div class="nav-actions">
				<input class="input-field search" placeholder="Search for environments" />
			</div>
			<div class="content-area">
				<div class="lds-dual-ring"></div>
			</div>
		</div>
	</div>
</body>
<script src="https://kit.fontawesome.com/e2535a847b.js"></script>
<script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="/javascripts/member.js"></script>
</html>